﻿
@{
    ViewData["Title"] = "Personal Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Notifications</h4>
            <p class="card-description">
                Send Notification to Class
            </p>
            <form class="forms-sample">

                <div class="form-group">
                    <label for="exampleInput">Student</label>
                    <md-autocomplete md-autoselect=true
                                     placeholder="What is your favorite place?"
                                     md-item-text="item.display"
                                     md-items="item in ctrl.items"
                                     md-menu-class="autocomplete-custom-template"
                                     md-min-length="2"
                                     md-delay="ctrl.throttle"
                                     md-search-text="ctrl.searchText"
                                     md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                     md-select-on-match=true
                                     md-match-case-insensitive=true
                                     md-selected-item-change="ctrl.selectedItemChange(item)"
                                     md-selected-item="ctrl.selectedItem">
                        <md-item-template>
                            <span class="item-title">
                                <span md-highlight-flags="^i" md-highlight-text="ctrl.searchText">
                                    {{item.display}}
                                </span>
                            </span>
                        </md-item-template>
                        <md-not-found>
                            No match found.
                        </md-not-found>
                    </md-autocomplete>
                </div>


                <div class="form-group">
                    <label for="exampleInputName1">Title</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                </div>
                @*<div class="form-group">
                        <label for="exampleInputEmail3">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                    </div>*@
                @*<div class="form-group">
                        <label>File upload</label>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-info" type="button">Upload</button>
                            </span>
                        </div>
                    </div>*@
                @*<div class="form-group">
                        <label for="exampleInputCity1">City</label>
                        <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                    </div>*@
                <div class="form-group">
                    <label for="exampleTextarea1">Message</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="6"></textarea>
                </div>
                <button type="submit" class="btn btn-success mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>


