﻿
@{
    ViewData["Title"] = "Class Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Notifications</h4>
            <p class="card-description">
                Send Notification to Class
            </p>
            <form class="forms-sample">

                <div class="form-group">
                    <label for="exampleFormControlSelect2">Select Standard</label>
                    <select class="form-control" id="exampleFormControlSelect2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect2">Select Division</label>
                    <select class="form-control" id="exampleFormControlSelect2">
                        <option>Nursery</option>
                        <option>UKG</option>
                        <option>LKG</option>
                        <option>I</option>
                        <option>II</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="exampleInputName1">Title</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                </div>
                @*<div class="form-group">
            <label for="exampleInputEmail3">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword4">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
        </div>*@
                @*<div class="form-group">
            <label>File upload</label>
            <input type="file" name="img[]" class="file-upload-default">
            <div class="input-group col-xs-12">
                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                <span class="input-group-append">
                    <button class="file-upload-browse btn btn-info" type="button">Upload</button>
                </span>
            </div>
        </div>*@
                @*<div class="form-group">
            <label for="exampleInputCity1">City</label>
            <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
        </div>*@
                <div class="form-group">
                    <label for="exampleTextarea1">Message</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="6"></textarea>
                </div>
                <button type="submit" class="btn btn-success mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>


